{% extends "header.html" %}

{% block title %}과일 목록{% endblock %}

{% block content %}
<div class="container mb-4">
    <h2 class="mb-3">과일 정보</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>아이디</th>
                <th>상품명</th>
                <th>단가</th>
            </tr>
        </thead>
        <tbody>
            {% for fruit in fruit_list %}
                <tr>
                    <td>{{fruit.id}}</td>
                    <td>{{fruit.name}}</td>
                    <td>{{fruit.price}} 원</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


</body>
</html>